@using ViewModels.Category
@using ViewModels.Product
@model List<ProductDto>

@{
	ViewData["Title"] = "Home Page";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Fresh and Organic</p>
					<h1>Shop</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>
		</div>

		@if (ViewBag.Categories is not null)
		{
			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">
						<ul>
							<li class="active" data-filter="*">All</li>
							@foreach (CategoryDto categoriesDto in ViewBag.Categories)
							{
								@* <li data-filter=".(@subcategoriesDto.Id)">@subcategoriesDto.Name</li> *@
								<li><a class="text-muted" asp-controller="Category" asp-action="CategoryDetail" asp-route-id="@categoriesDto.Id">@categoriesDto.Name</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
		}

		<div class="row">
			@foreach (ProductDto productDto in Model)
			{
				<div class="col-lg-4 col-md-6 text-center @productDto.Name">
					<div class="single-product-item">
						<div class="product-image">
							<a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@productDto.Id"><img src="@productDto.ImageUrl" alt="@productDto.Name"></a>
						</div>
						<h3 class="h2">@productDto.Name</h3>
						<p class="product-price"> @string.Format("{0:c0}", productDto.Price) VND </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			}
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="pagination-wrap">
					<ul>
						<li><a href="#">Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a class="active" href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end products -->