@using ViewModels.Product
@model ProductDto

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>See more Details</p>
					<h1>Single Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- single product -->
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="single-product-img">
					<img src="~/img/vongKhoaTruot.webp" alt="">
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h3>@Model.Name</h3>
					<p class="single-product-pricing"> 
					@if(Model.Rating is not null)
					{
							<span>@Model.Rating.Value.ToString("n1") <i class="fas fa-star" style="color:khaki"></i></span>
					}
					@string.Format("{0:c0}", Model.Price) VND
					</p> 
					<p>@Model.Description</p>
					@if (ViewBag.Sizes is not null)
					{
						<label style="font-size:130%" for="size-button"><b>Size</b></label>
						<div id="size-button" class="mb-2">
							@foreach(var size in ViewBag.Sizes)
							{
								<button style="margin:2px" type="button" class="btn btn-dark" step="1" min="0" value="0" >@size</button>
							}
						</div>
					}
					<div class="single-product-form">
						<form action="index.html">
							<input type="number" placeholder="0">
						</form>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
						<p><strong>Categories: </strong>@ViewBag.Category</p>
					</div>
					<h4>Share:</h4>
					<ul class="product-share">
						<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href=""><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end single product -->

<!-- single article section -->
<div class="mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="single-article-section">
					@await Component.InvokeAsync("Comment", new { productId = Model.Id })

					@if(User.Identity is not null && User.Identity.IsAuthenticated)
					{
						<div class="comment-template">
							<h4>Leave a comment</h4>
							<p>If you have a comment dont feel hesitate to send us your opinion.</p>
							<form method="post" asp-controller="Comment" asp-action="LeaveComment">
								<input name="productId" value="@Model.Id" hidden />
								<p>
									<label for="rating">Your Rating:</label><br>
									<input type="number" name="rating" id="rating" step="0.5" min="0" max="5" value="0"><i class="fas fa-star" style="color:khaki"></i>
									<button style="margin:2px" type="button" class="btn btn-dark" onclick="increaseRating()"><i class="fas fa-plus"></i></button>
									<button style="margin:2px" type="button" class="btn btn-dark" onclick="decreaseRating()"><i class="fas fa-minus"></i></button>
								</p>
								<p><textarea name="content" id="content" cols="30" rows="10" placeholder="Your Comment" required></textarea></p>
								<p><input type="submit" value="Submit"></p>
							</form>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end single article section -->
<script>
	function increaseRating() {
		var ratingInput = document.getElementById('rating');
		var currentValue = parseFloat(ratingInput.value);
		if (currentValue < 5) {
			ratingInput.value = (currentValue + 0.5).toFixed(1);
		}
	}

	function decreaseRating() {
		var ratingInput = document.getElementById('rating');
		var currentValue = parseFloat(ratingInput.value);
		if (currentValue > 0) {
			ratingInput.value = (currentValue - 0.5).toFixed(1);
		}
	}
</script>